@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: #f6ff00;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 150vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px; 
    color: #feffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #f6ff00;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #feffff;
}

.btn-3 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #f6ff00;
    border-radius: 25px;
    margin-top: 15px;
}

.btn-3:hover {
    background-color: #f6ff00;
    color: #000000;
}

.footer {
    display: flex;
    padding: 30px 0;
}

.link {
    width: 20%;
}

.link h3 {
    color: #feffff;
    margin-bottom: 20px;
}

.link a {
    color: #747B8F;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link p {
    color: #747B8F;
    font-size: 16px;
}

.link {
    width: 100%;
}



@media (max-width: 992px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo {
        display: none;
    }
    .submenu:hover #carrito {
        min-width: 100%;
    }
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}

.img_central{
    width: 200px;
    height: auto;
    margin-bottom: 5px;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fila {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 100px;
    margin-bottom: 5px;
    border-radius: 10px;
    height: 300px;
}

.seccion p{
    text-align: center;
}

.img_admi{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;   
}

.usuario, .contraseña, .btn {
  margin-top: 10px;
  color: white;
}

.btn {
    display: inline-block;
    background-color: transparent;
    padding: 10px 25px;
    font-size: 14px;
    color: white;
    border: 1px solid #f6ff00;
    border-radius: 25px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #f6ff00;
    color: #000000;
}

.borrar {
    background-color: #f6ff00;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #feffff;
    font-weight: 800;
}

